aniso8601==9.0.1
asgiref==3.7.2
black==24.4.2
boto3==1.34.98
botocore==1.34.98
click==8.1.7
Django==5.0.2
django-cors-headers==4.3.1
django-filter==24.2
django-graphql-jwt==0.4.0
django-js-asset==2.2.0
django-mptt==0.16.0
django-storages==1.14.3
graphene==3.3
graphene-django==3.2.0
graphene-file-upload==1.3.0
graphql-core==3.2.3
graphql-relay==3.2.0
isort==5.13.2
jmespath==1.0.1
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
promise==2.3
psycopg2-binary==2.9.9
PyJWT==2.8.0
python-dateutil==2.9.0.post0
s3transfer==0.10.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
text-unidecode==1.3
tomli==2.0.1
typing_extensions==4.9.0
urllib3==2.2.1
whitenoise==6.6.0
